examples/flows/bitwise-coil-packing.json
[
    {
        "id": "flow-bitwise",
        "type": "tab",
        "label": "Bitwise Coil Packing",
        "disabled": false,
        "info": "## Bitwise Coil Packing / Unpacking\n\nThis flow demonstrates two common industrial patterns:\n1. **Pack**: Read 16 individual coils and pack them into a single 16-bit register value\n2. **Unpack**: Read a holding register and extract individual bit flags\n\nThese patterns are used frequently when PLCs expose discrete I/O status in a single register word.\n\n### Configuration\n- Edit the **Modbus TCP** config node to match your PLC\n- Adjust coil/register addresses as needed\n- The pack/unpack functions handle bit 0 = LSB convention"
    },
    {
        "id": "bitwise-config",
        "type": "modbus-client-config",
        "name": "PLC (TCP)",
        "connectionType": "tcp",
        "host": "192.168.1.10",
        "port": 502,
        "unitId": 1,
        "timeout": 2000,
        "z": "flow-bitwise"
    },
    {
        "id": "bitwise-comment-pack",
        "type": "comment",
        "z": "flow-bitwise",
        "name": "── Pack: 16 Coils → 1 Register ──",
        "info": "",
        "x": 210,
        "y": 60,
        "wires": []
    },
    {
        "id": "bitwise-read-coils",
        "type": "modbus-read",
        "z": "flow-bitwise",
        "name": "Read 16 Coils (0-15)",
        "server": "bitwise-config",
        "fc": "1",
        "address": 0,
        "quantity": 16,
        "addressOffset": "zero-based",
        "pollInterval": 0,
        "x": 180,
        "y": 120,
        "wires": [["bitwise-pack"]]
    },
    {
        "id": "bitwise-trigger-read",
        "type": "inject",
        "z": "flow-bitwise",
        "name": "Read Coils",
        "props": [{ "p": "payload" }],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 140,
        "y": 180,
        "wires": [["bitwise-read-coils"]]
    },
    {
        "id": "bitwise-pack",
        "type": "function",
        "z": "flow-bitwise",
        "name": "Pack 16 Coils → Register",
        "func": "// Pack an array of 16 boolean coil values into a single 16-bit register\nconst coils = msg.payload.data;\nlet register = 0;\nfor (let i = 0; i < Math.min(coils.length, 16); i++) {\n    if (coils[i]) {\n        register |= (1 << i);  // Bit 0 = Coil 0 (LSB)\n    }\n}\nmsg.payload = register;\nmsg.binaryString = register.toString(2).padStart(16, '0');\nmsg.topic = 'coils/packed';\nreturn msg;",
        "outputs": 1,
        "x": 440,
        "y": 120,
        "wires": [["bitwise-pack-debug", "bitwise-write-packed"]]
    },
    {
        "id": "bitwise-pack-debug",
        "type": "debug",
        "z": "flow-bitwise",
        "name": "Packed Value",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "binaryString",
        "statusType": "auto",
        "x": 690,
        "y": 100,
        "wires": []
    },
    {
        "id": "bitwise-write-packed",
        "type": "modbus-write",
        "z": "flow-bitwise",
        "name": "Write Packed Register (HR 200)",
        "server": "bitwise-config",
        "fc": "6",
        "address": 200,
        "addressOffset": "zero-based",
        "queueMaxSize": 50,
        "queueDropStrategy": "fifo",
        "x": 730,
        "y": 150,
        "wires": [["bitwise-write-debug"]]
    },
    {
        "id": "bitwise-write-debug",
        "type": "debug",
        "z": "flow-bitwise",
        "name": "Write OK",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 970,
        "y": 150,
        "wires": []
    },
    {
        "id": "bitwise-comment-unpack",
        "type": "comment",
        "z": "flow-bitwise",
        "name": "── Unpack: 1 Register → 16 Bit Flags ──",
        "info": "",
        "x": 230,
        "y": 260,
        "wires": []
    },
    {
        "id": "bitwise-read-status",
        "type": "modbus-read",
        "z": "flow-bitwise",
        "name": "Read Status Register (HR 50)",
        "server": "bitwise-config",
        "fc": "3",
        "address": 50,
        "quantity": 1,
        "addressOffset": "zero-based",
        "pollInterval": 0,
        "x": 200,
        "y": 320,
        "wires": [["bitwise-unpack"]]
    },
    {
        "id": "bitwise-trigger-status",
        "type": "inject",
        "z": "flow-bitwise",
        "name": "Read Status",
        "props": [{ "p": "payload" }],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 150,
        "y": 380,
        "wires": [["bitwise-read-status"]]
    },
    {
        "id": "bitwise-unpack",
        "type": "function",
        "z": "flow-bitwise",
        "name": "Unpack Register → Bit Flags",
        "func": "// Unpack a 16-bit register into named bit flags\n// Customize the labels array for your application\nconst LABELS = [\n    'Motor Running',    // Bit 0\n    'Pump Active',      // Bit 1\n    'Valve Open',       // Bit 2\n    'Heater On',        // Bit 3\n    'Alarm Active',     // Bit 4\n    'Emergency Stop',   // Bit 5\n    'Sensor Fault',     // Bit 6\n    'Comm Error',       // Bit 7\n    'Reserved_8',       // Bit 8\n    'Reserved_9',       // Bit 9\n    'Reserved_10',      // Bit 10\n    'Reserved_11',      // Bit 11\n    'Reserved_12',      // Bit 12\n    'Reserved_13',      // Bit 13\n    'Reserved_14',      // Bit 14\n    'Reserved_15'       // Bit 15\n];\n\nconst register = msg.payload.data[0];\nconst bits = {};\nconst activeBits = [];\n\nfor (let i = 0; i < 16; i++) {\n    const isSet = (register & (1 << i)) !== 0;\n    bits[LABELS[i]] = isSet;\n    if (isSet) activeBits.push(LABELS[i]);\n}\n\nmsg.payload = {\n    raw: register,\n    binary: register.toString(2).padStart(16, '0'),\n    flags: bits,\n    active: activeBits\n};\nmsg.topic = 'status/flags';\nreturn msg;",
        "outputs": 1,
        "x": 470,
        "y": 320,
        "wires": [["bitwise-unpack-debug"]]
    },
    {
        "id": "bitwise-unpack-debug",
        "type": "debug",
        "z": "flow-bitwise",
        "name": "Bit Flags",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.active",
        "statusType": "auto",
        "x": 700,
        "y": 320,
        "wires": []
    }
]
