examples/flows/watchdog-heartbeat.json
[
    {
        "id": "flow-watchdog",
        "type": "tab",
        "label": "Modbus Watchdog Heartbeat",
        "disabled": false,
        "info": "## Watchdog Heartbeat Pattern\n\nThis flow implements a Modbus watchdog heartbeat by periodically writing a toggling value to a holding register. If the PLC does not see the write within the expected interval, it triggers a safety shutdown.\n\n### How it works\n1. **Inject** triggers every 2 seconds\n2. **Toggle** alternates between 0 and 1\n3. **Modbus Write** writes the heartbeat to register 100\n4. **Modbus Read** polls register 100 to verify the write (monitoring)\n5. **Timeout** detects if the read value stops changing\n\n### Configuration\n- Edit the **Modbus TCP** config node to match your PLC IP/port\n- Adjust the polling interval and register address as needed"
    },
    {
        "id": "watchdog-config",
        "type": "modbus-client-config",
        "name": "PLC (TCP)",
        "connectionType": "tcp",
        "host": "192.168.1.10",
        "port": 502,
        "unitId": 1,
        "timeout": 2000,
        "z": "flow-watchdog"
    },
    {
        "id": "watchdog-inject",
        "type": "inject",
        "z": "flow-watchdog",
        "name": "Every 2s",
        "props": [{ "p": "payload" }],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 120,
        "wires": [["watchdog-toggle"]]
    },
    {
        "id": "watchdog-toggle",
        "type": "function",
        "z": "flow-watchdog",
        "name": "Toggle 0/1",
        "func": "// Toggle heartbeat value between 0 and 1\nconst prev = flow.get('heartbeat') || 0;\nconst next = prev === 0 ? 1 : 0;\nflow.set('heartbeat', next);\nmsg.payload = next;\nreturn msg;",
        "outputs": 1,
        "x": 310,
        "y": 120,
        "wires": [["watchdog-write"]]
    },
    {
        "id": "watchdog-write",
        "type": "modbus-write",
        "z": "flow-watchdog",
        "name": "Write Heartbeat (HR 100)",
        "server": "watchdog-config",
        "fc": "6",
        "address": 100,
        "addressOffset": "zero-based",
        "queueMaxSize": 10,
        "queueDropStrategy": "lifo",
        "x": 530,
        "y": 120,
        "wires": [["watchdog-write-debug"]]
    },
    {
        "id": "watchdog-write-debug",
        "type": "debug",
        "z": "flow-watchdog",
        "name": "Write Result",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 770,
        "y": 120,
        "wires": []
    },
    {
        "id": "watchdog-read",
        "type": "modbus-read",
        "z": "flow-watchdog",
        "name": "Monitor Heartbeat (HR 100)",
        "server": "watchdog-config",
        "fc": "3",
        "address": 100,
        "quantity": 1,
        "addressOffset": "zero-based",
        "pollInterval": 3000,
        "x": 180,
        "y": 260,
        "wires": [["watchdog-check"]]
    },
    {
        "id": "watchdog-check",
        "type": "function",
        "z": "flow-watchdog",
        "name": "Timeout Detection",
        "func": "// Detect if heartbeat register stops toggling\nconst now = Date.now();\nconst current = msg.payload.data[0];\nconst prev = flow.get('lastHeartbeat');\nconst lastChange = flow.get('lastChangeTime') || now;\n\nif (prev !== undefined && prev !== current) {\n    flow.set('lastChangeTime', now);\n} else if (now - lastChange > 10000) {\n    // No change in 10 seconds → watchdog alarm\n    msg.payload = { alarm: true, lastValue: current, staleSince: new Date(lastChange).toISOString() };\n    msg.topic = 'watchdog/alarm';\n    flow.set('lastHeartbeat', current);\n    return [null, msg];\n}\n\nflow.set('lastHeartbeat', current);\nmsg.topic = 'watchdog/ok';\nreturn [msg, null];",
        "outputs": 2,
        "outputLabels": ["OK", "ALARM"],
        "x": 450,
        "y": 260,
        "wires": [["watchdog-ok-debug"], ["watchdog-alarm-debug"]]
    },
    {
        "id": "watchdog-ok-debug",
        "type": "debug",
        "z": "flow-watchdog",
        "name": "Heartbeat OK",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 680,
        "y": 240,
        "wires": []
    },
    {
        "id": "watchdog-alarm-debug",
        "type": "debug",
        "z": "flow-watchdog",
        "name": "⚠ ALARM",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.staleSince",
        "statusType": "auto",
        "x": 680,
        "y": 290,
        "wires": []
    }
]
